@use 'sass:color';

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #143454;
$secondary: #0a4e75;
$success: #2a8463;
$info: #168abb;
$warning: #d1b23e;
$danger: #9b2d30;
$light: #f0fbff;
$dark: #003a5c;
$white: #fff;

// Colors
$color-primary: #143454;
$color1: #003a5c;
$color2: #0a4e75;
$color3: #168abb;
$color4: #60c5e6;
$color5: #a1dff7;
$color6: #f0fbff;
$colorSuccess: #2a8463;
$colorDanger: #9b2d30;
$colorWarning: #d1b23e;
$colorInfo: #168abb;

// Functions
@function tint-color($color, $weight) {
  @return color.mix(white, $color, $weight);
}

@function shade-color($color, $weight) {
  @return color.mix(black, $color, $weight);
} 