@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-1: #173F5E;
    --color-2: #20639B;
    --color-3: #3BAEA3;
    --color-4: #F6D55C;
    --color-5: #ED553B;
    --color-6: #151515;
    --color-7: #ffffff;
}

.bg-color1 {
    background-color: var(--color-1);
}
.bg-color2 {
    background-color: var(--color-2);
}
.bg-color3 {
    background-color: var(--color-3);
}
.bg-color4 {
    background-color: var(--color-4);
}
.bg-color5 {
    background-color: var(--color-5);
}
.bg-color6 {
    background-color: var(--color-6);
}
.bg-color7 {
    background-color: var(--color-7);
}
.color1 {
    color: var(--color-1);
}
.color2 {
    color: var(--color-2);
}
.color3 {
    color: var(--color-3);
}
.color4 {
    color: var(--color-4);
}
.color5 {
    color: var(--color-5);
}
.color6 {
    color: var(--color-6);
}
.color7 {
    color: var(--color-7);
}


.sidebar-nav-link:hover {
    background-color: var(--color-1);
}
.sidebar-title-divider {
    border-bottom: 1px solid #ffffff57;
}

body [type=text]:focus, 
body input:where(:not([type])):focus, 
body [type=email]:focus, 
body [type=url]:focus, 
body [type=password]:focus, 
body [type=number]:focus, 
body [type=date]:focus, 
body [type=datetime-local]:focus, 
body [type=month]:focus, 
body [type=search]:focus, 
body [type=tel]:focus, 
body [type=time]:focus, 
body [type=week]:focus, 
body [multiple]:focus, 
body textarea:focus, 
body select:focus {
    border: none;
    --tw-ring-color: #20639b;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) #20639b;
}
body [type=text], 
body input:where(:not([type])), 
body [type=email], 
body [type=url], 
body [type=password], 
body [type=number], 
body [type=date], 
body [type=datetime-local], 
body [type=month], 
body [type=search], 
body [type=tel], 
body [type=time], 
body [type=week], 
body [multiple], 
body textarea, 
body select {
    border: none;
    --tw-ring-color: #20639b;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) #20649b38;
}

.manage-users-table tbody tr td {
    font-size: 14px;
}

label {
    position: relative;
}
/* Tooltip container */
.tooltip {
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    padding: 10px !important;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    max-width: 100%;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltipicon {
    background-color: #eee;
    color: #000000;
    width: 16px;
    height: 16px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
span.select2-selection__rendered, span.select2-selection.select2-selection--single {
    height: 36px;
}
span.select2-selection.select2-selection--single {
    border-color: #cbd9e5;
    margin-top: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}
span.select2-selection__placeholder {
    margin-top: 3px;
    display: block;
}
body .input-readonly:focus {
    border: none;
    outline-offset: 0px;
    outline: 0px;
    box-shadow: none;
}