@use 'variables' as *;

.btn {
    &.btn-border-secondary {
        border: 1px solid $color1;
        color: $color1;
        background-color: transparent;
        margin: 0 10px;
        padding: 10px 20px;
        &:hover {
            background-color: $color1;
            color: $colorWhite;
        }
    }
    &.btn-white {
        background-color: $colorWhite;
        color: $color1;
        &:hover {
            background-color: $color5;
            color: $colorWhite;
        }
    }
}