// Colors
$color1: #143454;
$color2: #003a5c;
$color3: #0a4e75;
$color4: #168abb;
$color5: #60c5e6;
$color6: #a1dff7;
$color7: #f0fbff;
$colorWhite: #fff;
$colorSuccess: #2a8463;
$colorDanger: #9b2d30;
$colorWarning: #d1b23e;
$colorInfo: #168abb;

// Typography
// Body
$fontFamily: 'Manrope';
$fontSize: 16px;
$fontSizeMobile: 14px;
$fontWeight: 400;
$lineHeight: 1.45;

// Title
$fontFamilyTitle: 'Bebas Neue';
$fontSizeTitle: 45px;
$fontSizeTitleMobile: 24px;
$fontWeightTitle: 900;
$lineHeightTitle: 1.25;

// Subtitle
$fontFamilySubtitle: 'Bebas Neue';
$fontSizeSubtitle: 32px;
$fontSizeSubtitleMobile: 18px;
$fontWeightSubtitle: 900;
$lineHeightSubtitle: 1.45;

// Extra Large
$fontSizeExtraLarge: 80px;
$fontSizeExtraLargeMobile: 28px;
$fontWeightExtraLarge: 900;
$lineHeightExtraLarge: 1.25;

// Breakpoints
$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;
$breakpointXxl: 1400px;
